<h1 class="app-title">Credit Card Payments with Reactive Forms</h1>
<hr>

<div class="columns">
    <div class="column">
        <!-- 3 variations:
            <app-card [name]="cardForm.value.name"></app-card>  
            <app-card [name]="cardForm.get('name').value"></app-card> -->
            <app-card 
            [name]="cardForm.controls.name.value"
            [cardNumber]="cardForm.controls.cardNumber.value"
            [expiration]="cardForm.controls.expiration.value"    
            ></app-card>
    </div>  
    <div class="column">             
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <app-input label="Name" [control] ="cardForm.controls.name"></app-input>
            <app-input label="Card Number" [control]="cardForm.controls.cardNumber"></app-input>
            <div class="columns">
                <div class="column">
                    <app-input label="Expiration (MM/YY)" [control]="cardForm.controls.expiration"></app-input>
                </div>
                <div class="column">
                    <app-input label="Security code" [control]="cardForm.controls.securityCode"></app-input>
                </div>        
            </div>
            <div class="buttons">
                <button 
                class="button is-primary" 
                [disabled]="cardForm.invalid" 
                type="submit"
                >
        Submit
    </button>
    <button class="button is-warning" type="button" (click)="onResetClick()">Reset</button>
            </div>
        </form>
    </div>  
</div>

<!-- For own control -->
<!-- <hr> -->
<!-- <div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Errors around name: {{ cardForm.controls.name.errors | json }}</div> -->

<!-- Second way to get access to controls - get('name')
<div>Errors around name: {{ cardForm.get('name').errors | json }}</div> -->




<!-- <input formControlName="name" />
<ng-container *ngIf="
        cardForm.controls.name.dirty &&
        cardForm.controls.name.touched &&
        cardForm.controls.name.errors
    ">
    <div *ngIf="cardForm.controls.name.errors?.['required']">
        Value is required.
    </div>
    <div *ngIf="cardForm.controls.name.errors?.['minlength']">
        Value you entered is {{ cardForm.controls.name.errors['minlength'].actualLength }}
        characters long, but it must be at least {{ cardForm.controls.name.errors['minlength'].requiredLength }}
        characters.
    </div>
</ng-container> -->